name: .NET MAUI

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

jobs:
  define-macos-version:
    runs-on: ubuntu-latest
    outputs:
      macos-version: macos-26
    steps:
      - run: echo "Defined macOS version 26"

  Build_Android:
    needs: define-macos-version
    runs-on: ${{ needs.define-macos-version.outputs.macos-version }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET v10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10"

      - name: Install .NET MAUI Workload
        run: dotnet workload install maui

      - name: Build Android App
        run: dotnet build HackerNews.Maui -f net10.0-android

  Build_iOS:
    needs: define-macos-version
    runs-on: ${{ needs.define-macos-version.outputs.macos-version }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET v10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10"

      - name: Install .NET MAUI Workload
        run: dotnet workload install maui

      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.2_beta_2.app/Contents/Developer

      - name: Accept Xcode license
        run: sudo xcodebuild -license accept

      - name: Build iOS App
        run: dotnet build HackerNews.Maui -f net10.0-ios

  Build_MacCatalyst:
    needs: define-macos-version
    runs-on: ${{ needs.define-macos-version.outputs.macos-version }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET v10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10"

      - name: Install .NET MAUI Workload
        run: dotnet workload install maui

      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.2_beta_2.app/Contents/Developer

      - name: Accept Xcode license
        run: sudo xcodebuild -license accept

      - name: Build Mac App
        run: dotnet build HackerNews.Maui -f net10.0-maccatalyst

  Build_Windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'microsoft'
          java-version: '11'

      - name: Setup .NET v10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10"

      - name: Install .NET MAUI Workload
        run: dotnet workload install maui

      - name: Build Windows App
        run: dotnet build HackerNews.Maui -f net10.0-windows10.0.19041.0

  Run_Tests:
    needs:
      - Build_Android
      - Build_iOS
      - Build_MacCatalyst
      - Build_Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET v10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10"

      - name: Install .NET MAUI Workload
        run: dotnet workload install maui

      - name: Restore and Run Tests
        run: |
          dotnet restore
          dotnet test HackerNews.Tests
